<h2>Character Form</h2>
<form action="submitted.php" method="post"><br /><label for="Q65924637name" style="margin-right:30px; text-align:right">Name:</label>
<input type="text" id="name" name="Q65924637name" value="Ben Hargreeves"/><br />
<label for="Q65924637desc" style="display:inline-block;height:50px;margin-right:30px ;text-align:right">Description:</label>
<textarea name="Q65924637desc" rows = "3" cols = "40" name = "desc">N/A</textarea><br><br /><label for="Q96282709name" style="margin-right:30px; text-align:right">Name:</label>
<input type="text" id="name" name="Q96282709name" value="Abed Nadir"/><br />
<label for="Q96282709desc" style="display:inline-block;height:50px;margin-right:30px ;text-align:right">Description:</label>
<textarea name="Q96282709desc" rows = "3" cols = "40" name = "desc">fictional character on the NBC/Yahoo! Screen sitcom series Community</textarea><br><br /><label for="Q2087191name" style="margin-right:30px; text-align:right">Name:</label>
<input type="text" id="name" name="Q2087191name" value="Alice Cullen"/><br />
<label for="Q2087191desc" style="display:inline-block;height:50px;margin-right:30px ;text-align:right">Description:</label>
<textarea name="Q2087191desc" rows = "3" cols = "40" name = "desc">fictional character</textarea><br><br /><label for="Q56300111name" style="margin-right:30px; text-align:right">Name:</label>
<input type="text" id="name" name="Q56300111name" value="Amy Santiago"/><br />
<label for="Q56300111desc" style="display:inline-block;height:50px;margin-right:30px ;text-align:right">Description:</label>
<textarea name="Q56300111desc" rows = "3" cols = "40" name = "desc">fictional character from the television series Brooklyn Nine-Nine</textarea><br><br /><label for="Q838512name" style="margin-right:30px; text-align:right">Name:</label>
<input type="text" id="name" name="Q838512name" value="Barney Stinson"/><br />
<label for="Q838512desc" style="display:inline-block;height:50px;margin-right:30px ;text-align:right">Description:</label>
<textarea name="Q838512desc" rows = "3" cols = "40" name = "desc">fictional character In the American television series How I Met Your Mother</textarea><br><br /><label for="Q5480name" style="margin-right:30px; text-align:right">Name:</label>
<input type="text" id="name" name="Q5480name" value="Bart Simpson"/><br />
<label for="Q5480desc" style="display:inline-block;height:50px;margin-right:30px ;text-align:right">Description:</label>
<textarea name="Q5480desc" rows = "3" cols = "40" name = "desc">fictional character from The Simpsons franchise</textarea><br><br /><label for="Q1057918name" style="margin-right:30px; text-align:right">Name:</label>
<input type="text" id="name" name="Q1057918name" value="Bellatrix Lestrange"/><br />
<label for="Q1057918desc" style="display:inline-block;height:50px;margin-right:30px ;text-align:right">Description:</label>
<textarea name="Q1057918desc" rows = "3" cols = "40" name = "desc">fictional character of the Harry Potter series</textarea><br><br /><label for="Q4885407name" style="margin-right:30px; text-align:right">Name:</label>
<input type="text" id="name" name="Q4885407name" value="Ben Chang"/><br />
<label for="Q4885407desc" style="display:inline-block;height:50px;margin-right:30px ;text-align:right">Description:</label>
<textarea name="Q4885407desc" rows = "3" cols = "40" name = "desc">American government official</textarea><br><br /><label for="Q11680307name" style="margin-right:30px; text-align:right">Name:</label>
<input type="text" id="name" name="Q11680307name" value="Brienne of Tarth"/><br />
<label for="Q11680307desc" style="display:inline-block;height:50px;margin-right:30px ;text-align:right">Description:</label>
<textarea name="Q11680307desc" rows = "3" cols = "40" name = "desc">character in George R. R. Martin's A Song of Ice and Fire series</textarea><br><br /><label for="Q59706319name" style="margin-right:30px; text-align:right">Name:</label>
<input type="text" id="name" name="Q59706319name" value="Chidi Anagonye"/><br />
<label for="Q59706319desc" style="display:inline-block;height:50px;margin-right:30px ;text-align:right">Description:</label>
<textarea name="Q59706319desc" rows = "3" cols = "40" name = "desc">character from The Good Place</textarea><br><br /><label for="Q23554name" style="margin-right:30px; text-align:right">Name:</label>
<input type="text" id="name" name="Q23554name" value="Walter White"/><br />
<label for="Q23554desc" style="display:inline-block;height:50px;margin-right:30px ;text-align:right">Description:</label>
<textarea name="Q23554desc" rows = "3" cols = "40" name = "desc">fictional character in the television drama series ''Breaking Bad''</textarea><br>
<input type="submit" value="Update Changes">
</form>